{% extends 'base.html' %}

{% block title %}
    {# 页面标题#}
    {{ blog.title }}
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}

{% load staticfiles %}
{% load  comment_tags %}
{% load likes_tags %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
    {# 页面内容 #}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">{#水平偏移一列，适用于中，大屏幕#}
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">
                        {# 相当于 ： 别名/数字  type/<int:blog_type_pk  路径#}
                        {{ blog.blog_type }}
                    </a></li>
                    <li>发表时间:{{ blog.last_updated_time| date:'Y-m-d H:i:s' }}</li>
                    <li>阅读{{ blog.get_read_num }}</li>

                    {#                    将get_commnet_count重命名为count，并将结果存到count变量中，并不直接执行结果显示#}
                    {#                    {% get_comment_count blog as count %}#}
                    {#                    <li>评论数({{ count }})</li>#}
                    {#                    等价于上面2句#}
                    <li>评论数({% get_comment_count blog %})</li>


                </ul>
                <div class="blog-content">{{ blog.content|safe }}</div>
{#                点赞#}
                <div class="like" onclick="likeChange(this,'{% get_content_type blog %}',{{ blog.pk }})">
                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status blog %}"></span>
                    <span class="liked-num">{% get_like_count blog %}</span>
                    <span >喜欢</span>
                </div>

                {# 加了safe就支持富文本编辑 #}
                <div class="blog-more">{# 与博客内容隔开 #}
                    <p>上一篇:
                        {% if previous_blog %}
                            <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                    <p>下一篇:{% if next_blog %}
                        <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                    {% else %}
                        没有了
                    {% endif %}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">{#水平偏移一列，适用于中，大屏幕#}
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论区域</h3>
                    {% if user.is_authenticated  %}
                        <form id="comment_form" action="{% url 'update_comment' %}" method="POST">
                            {% csrf_token %}
                            {#                            使用django自带的form的表单#}
                            <label>{{ user.username }},欢迎评论~</label>
                            {#                        回复的时候在富文本编辑框中显示的评论信息#}
                            <div id="reply_content_container" style="display: none">
                                <p>回复：</p>
                                <div id="reply_content"></div>
                            </div>
                            <br>
                            {% for field in comment_form %}
                                {{ field }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            {#原始表单#}
                            {#                            <div class="form-group">#}
                            {#                                <label for="comment_area">{{ user.username }},欢迎评论~</label>#}
                            {#                                <textarea id="comment_area" name="text" rows="4"></textarea>#}
                            {#                            </div>#}
                            {#    让后台知道是在评论哪篇博客#}
                            {#                            <input type="hidden" name="object_id" value="{{ blog.pk }}">#}
                            {#                            <input type="hidden" name="content_type" value="blog">#}
                            <input type="submit" value="提交评论" class="btn btn-primary pull-right">
                        </form>
                    {% else %}
                        未登录，登录之后就能评论了
                        {#                        将点击登录的那个页面的网址用get方法告诉后台#}
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span>or</span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                    {% endif %}

                </div>
                <div class="comment-area">
                    <h3>评论列表区域</h3>
                    <div id="comment_list">
                        {% for comment in comments %}
                            <div class="comment">
                                <span>{{ comment.user.username }}</span>
                                <span>({{ comment.comment_time| date:'Y-m-d H:i:s' }}):</span>
                                {# 加上safe将html标签转义显示#}
                                <div id="comment_{{ comment.pk }}">
                                    {{ comment.text|safe }}
                                </div>

{#                              点赞#}
                <div class="like" onclick="likeChange(this,'{% get_content_type comment%}',{{ comment.pk }})">
                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"></span>
                    <span class="liked-num">{% get_like_count comment %}</span>
                </div>

                                <a href="javascript:reply({{ comment.pk }})">回复</a>
                                {#   遍历该评论下面的所有评论#}
                                {% for reply in comment.root_comment.all %}
                                    <div class="replay">
                                        <span>{{ reply.user.username }}</span>
                                        <span>({{ reply.comment_time| date:'Y-m-d H:i:s' }})</span>

                                        <div class="like" onclick="likeChange(this,'{% get_content_type reply%}',{{ reply.pk }})">
                    <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"></span>
                    <span class="liked-num">{% get_like_count reply %}</span>
                </div>

                                        <span>回复</span>
                                        <span>{{ reply.reply_to.username }}&nbsp;&nbsp;&nbsp;</span>
                                        <div id="comment_{{ reply.pk }}">
                                            <span> {{ reply.text|safe }}</span>
                                        </div>

                                        <a href="javascript:reply({{ reply.pk }})">回复</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% empty %}
                            <span id="no_comment">暂无评论</span>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="login_model" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

         <form id="login_modal_form" action="" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">登录</h4>
          </div>
          <div class="modal-body">
                {% csrf_token %}
                {% for field in login_form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                {% endfor %}
                <span id="login_model_tip" class="text-danger"></span>
          </div>
          <div class="modal-footer">
              <button type="submit" class="btn btn-primary">登录</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          </div>
         </form>
        </div>
      </div>
    </div>
    </div>

{% endblock %}

{% block ajax_scripts %}
    <script type="text/javascript">
{#    给字符串自定义format方法#}
        String.prototype.format = function () {
          var str = this;
          for(var i=0;i<arguments.length;i++){
              //正则全局匹配要替换的
              var str = str.replace(new RegExp('\\{'+i+'\\}','g'),arguments[i])
          }
          return str;
        };
        function likeChange(obj,content_type,object_id) {
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({
                url:"{% url 'like_change' %}",
                type:'GET',
                data:{
                    content_type:content_type,
                    object_id:object_id,
                    is_like:is_like
                },
                cache:false,
                success:function (data) {
                    console.log(data);
                    if(data['status'] == 'SUCCESS'){
                        //更新点赞状态
                        var span = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            span.addClass('active');
                        }
                        else{
                            span.removeClass('active');
                        }
                        //更新点赞数量
                        var liked_num_span = $(obj.getElementsByClassName('liked-num'));
                        liked_num_span.text(data['liked_num'])
                    }
                    else{
                        if(data['code']==400){
                            $('#login_model').modal('show');
                        }else{
                            alert(data['message']);
                        }
                    }
                },
                error:function (xhr) {
                    console.log(xhr);
                }
            })
        }
        function reply(reply_comment_id) {
            // HiddenInput的id：  reply_comment_id，改变该HiddenInput的值方便后台接收
            $('#reply_comment_id').val(reply_comment_id);
            //得到评论对象的内容
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();
            //点击回复会动画效果滚动到指定位置后，利用回调方法聚焦富文本编辑框
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function () {
                CKEDITOR.instances['id_text'].focus();
            });
        }
        function numFormat(num) {
            return ('00' + num).substr(-2);
        }
        function timeFormat(timestamp) {
            var datetime = new Date(timestamp * 1000);
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }
        $("#comment_form").submit(function () {

                $("#comment_error").text('');
                // 判断富文本编辑框是否为空
                if (CKEDITOR.instances["id_text"].document.getBody().getText().trim() == '') {
                    $("#comment_error").text('评论内容不能为空');
                    return false;
                }

                // 将ckeditor中的文本更新数据到textarea。否则就相当于textarea里面没有内容
                CKEDITOR.instances['id_text'].updateElement();

                // 异步提交
                $.ajax({
{#                      url  规定发送请求的 URL。默认是当前页面#}
                    url: "{% url 'update_comment' %}",
{#                     type 规定请求的类型（GET 或 POST）#}
                    type: 'POST',
{#                   data	规定要发送到服务器的数据。 序列化表单值#}
                    data: $(this).serialize(),
{#                    cache	布尔值，表示浏览器是否缓存被请求页面。默认是 true#}
                    cache: false,
{#                    success(result,status,xhr)	当请求成功时运行的函数#}
                    success: function (data) {
                        console.log(data);
                        if (data['status'] == "SUCCESS") {
                            if ($('#reply_comment_id').val() == '0') {
                                // 插入评论
                                var comment_html =  '<div class="comment">'+
                                                        '<span>{0}</span>'+
                                                        '<span>({1}):</span>'+
                                                        '<div id="comment_{2}">'+
                                                            '{3}'+
                                                       '</div>'+
                                                        '<div class="like" onclick="likeChange(this,\'{4}\',{2})">'+
                                                            '<span class="glyphicon glyphicon-thumbs-up "></span>'+
                                                            '<span class="liked-num">0</span>'+
                                                        '</div>'+
                                                        '<a href="javascript:reply({2})">回复</a></div>';
                                comment_html = comment_html.format(data['username'],timeFormat(data['comment_time']),data['pk'],data['text'],data['content_type']);

                                 $("#comment_list").prepend(comment_html);
                            } else {
                                // 插入回复
                                var reply_html = '<div class="replay">'+
                                                    '<span>{0}</span>'+
                                                    '<span>({1})</span>'+
                                                    '<div class="like" onclick="likeChange(this,\'{5}\',{2})">'+
                                                        '<span class="glyphicon glyphicon-thumbs-up "></span>'+
                                                        '<span class="liked-num">0</span>'+
                                                    '</div>'+
                                                    '<span>回复</span>'+
                                                    '<span>{3}&nbsp;&nbsp;&nbsp;</span>'+
                                                    '<div id="comment_{2}">'+
                                                        '<span> {4}</span>'+
                                                    '</div>'+
                                                    '<a href="javascript:reply({2})">回复</a>'+
                                                '</div>';
                                reply_html = reply_html.format(data['username'],timeFormat(data['comment_time']),data['pk'],data['reply_to'],data['text'],data['content_type']);
                                $("#root_" + data['root_pk']).append(reply_html);
                            }

                            // 清空编辑框的内容
                            CKEDITOR.instances['id_text'].setData('');
                            $('#reply_content_container').hide();
                            $('#reply_comment_id').val('0');
                            $('#no_comment').remove();
                            $("#comment_error").text('评论成功');
                        } else {
                            // 显示错误信息
                            $("#comment_error").text(data['message']);
                        }
                    },
{#                    error(xhr,status,error)	如果请求失败要运行的函数。#}
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
                return false;
            });

        $('#login_modal_form').submit(function () {
            $.ajax({
                url:'{% url "login_for_modal" %}',
                type:'POST',
                data:$(this).serialize(),
                cache:false,
                success:function (data) {
                    if(data['status']=='SUCCESS'){
{#                        重新加载窗口，刷新#}
                        window.location.reload();
                    }else{
                        $("#login_model_tip").text('用户名或密码不正确');
                    }
                }
            });
            return false;
        });
    </script>
{% endblock %}
